@font-face{
  font-family: 'Khmer UI';
  src: url('/src/fonts/KhmerUIb.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
@font-face{
  font-family: 'Lobster';
  src: url('/src/fonts/Lobster.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}