.match{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 5px 25px 0px;
  border-top: 1px solid rgb(186,187,186);
  margin:0px 15px 0px 5px;
  font-family: 'Calibri';
  font-size: 18px;
  color: rgb(47, 47, 47);
 
  &__team{
    display: flex;
    align-items: center;
    width:33%;

    .team__name{
      display: flex;
      align-items: center;
      
      img{
        width: 25px;
        margin-right: 5px;
      }
    }
    
    .team__score{
      padding-left: 20px;
      font-weight: bold;
    }
  }

  &__date{
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  } 
}