@import 'fonts';
@import 'wrapper';
@import 'header';
@import 'footer';
@import 'match';

.FullWidthTabs-contentHeight-2{
  
  &::-webkit-scrollbar-track { 
    border-radius: 5px; 
    background: #e8e6e6;
  } 

  &::-webkit-scrollbar { 
    width: 13px; 
    height: 13px; 
  } 

  &::-webkit-scrollbar-thumb { 
    background-color: rgba(0,0,0,0.2); 
  }
}
.form{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 460px;
}